body {
    color: rgb(136, 134, 134);
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-text {
    font-family: serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(200, 200, 200, 0.15);
    font-weight: bold;
    font-size: 130px;
    pointer-events: none;
    z-index: 0;
    white-space: nowrap;
}

.thanks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 垂直中央 */
    align-items: center;
    /* 水平中央 */
    height: 100vh;
    /* 画面全体を使う */
    position: relative;
    z-index: 1;
}

.thanks-message {
    font-family: sans-serif;
    font-size: 22px;
}

.back-home {
    margin-top: 20px;
    padding: 5px 30px;
    background-color: rgb(50, 48, 44);
    color: white;
    text-decoration: none;
}